In [1]:
import pandas as pd

In [6]:
mail_data = pd.read_csv('mail_data.csv')
mail_data.head()

  Category                                            Message
0      ham  Go until jurong point, crazy.. Available only ...
1      ham                      Ok lar... Joking wif u oni...
2     spam  Free entry in 2 a wkly comp to win FA Cup fina...
3      ham  U dun say so early hor... U c already then say...
4      ham  Nah I don't think he goes to usf, he lives aro...

In [8]:
mail_data.shape

(5572, 2)

In [9]:
mail_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5572 entries, 0 to 5571
Data columns (total 2 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Category  5572 non-null   object
 1   Message   5572 non-null   object
dtypes: object(2)
memory usage: 87.2+ KB

In [10]:
mail_data.isna().sum()

Category    0
Message     0
dtype: int64

In [11]:
#Label encoding the mail category
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()

In [12]:
mail_data['Category'] = le.fit_transform(mail_data['Category'])

In [13]:
mail_data.head()

   Category                                            Message
0         0  Go until jurong point, crazy.. Available only ...
1         0                      Ok lar... Joking wif u oni...
2         1  Free entry in 2 a wkly comp to win FA Cup fina...
3         0  U dun say so early hor... U c already then say...
4         0  Nah I don't think he goes to usf, he lives aro...

In [15]:
#Processing the mail message to remove ignorable messages
from sklearn.feature_extraction.text import TfidfVectorizer

In [16]:

vectorization = TfidfVectorizer(min_df = 1, stop_words = 'english', lowercase = True)

In [18]:
X = mail_data['Message']
y = mail_data['Category']

In [19]:
X = vectorization.fit_transform(X)

In [20]:
# Splitting the datasets
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [23]:
type(y_train[0])

numpy.int32

In [24]:
#Model training
from sklearn.linear_model import LogisticRegression

In [25]:
lr = LogisticRegression()

model = lr.fit(X_train, y_train)

In [31]:
#Testing the model and its accuracy
from sklearn.metrics import accuracy_score

y_pred = model.predict(X_test)

In [32]:
accuracy = accuracy_score(y_test, y_pred)
print("Accuracy:", accuracy)

Accuracy: 0.95695067264574

In [33]:
#dumping the model and the vector
import pickle

pickle.dump(model, open('model.pkl','wb'))
pickle.dump(vectorization, open('vectorizer.pkl', 'wb'))